<!DOCTYPE html>
<html lang="en">
<head>
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
.center-table
{
  margin: 0 auto !important;
  float: none !important;
}
.table td{
  text-align: center;
}
.table th{
  text-align: center;
}
#exp_table tr td{
  text-align: center;
}
tr td th{
  text-align: center;
}
.popover-title{
  text-align: center;
}
.popover-content{
  text-align: center;
}
</style>
<title>P&D Calculator</title>
</head>
<body>
<div class="container">
<div class="row">
<div class="span4">
<form method="post" action="/exp">
<h1> P&D Calculator</h1>
<h4>몬스터 번호를 입력하세요.</h4>
<input type="text" class="input-large search-query" name="no" id='no'>
<button type="submit" class="btn btn-honey-pot-1">검색</button>
<% if(result){ %>
<h4>몬스터 정보</h4>
    <table class="table table-striped span4 center-table">
        <tr>
	    <th>no.</th>
	    <th>몬스터명</th>
	    <th>경험치타입</th>
	</tr>
	<tr>
	    <td><%= result.no %></td>
	    <td><%= result.name %></td>
	    <td><%= result.type %>만</td>
	</tr>
    </table>
    <h4>몬스터 경험치  (<%= result.type %>만)</h4>
    <table id="exp_table" class="table table-striped span4 center-table">
                <tr>
                        <th>레벨</th>
                        <th>경험치</th>
                </tr>
  <% for(var i = 0; i < result.exp.length; i++){ %>
                <tr id="exp" data-content="<%= result.exp[result.exp.length-1]-result.exp[i] %>" >
                        <td><%= i+1 %></td>
                        <td><%= result.exp[i] %></td>
                </tr>
  <% } %>
        </table>
    </div>
</div>
  <% } %>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-8411054487726599";
/* pad_bottom */
google_ad_slot = "8012929820";
google_ad_width = 320;
google_ad_height = 50;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js"> 
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="/javascripts/bootstrap-tooltip.js"></script>  
<script src="/javascripts/bootstrap-popover.js"></script>  
<script>  
$(function ()  
{
    function hidePopovers(){
	$(function(){
		$("#exp_table tr").popover('hide');
        });
    }
    $("#exp_table tr").popover({trigger:'manual', html:true, title:'최대레벨까지 필요한 경험치', placement:'top'});  
    $("#exp_table tr").click(function() { hidePopovers(); $(this).popover('show')});
});  
</script>  

<script type="text/javascript"> 
 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38024857-1']);
  _gaq.push(['_trackPageview']);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
</script>

</body>
</html>
