!!! 5
html
  head
  body
    p 100만
    each data, i in monlist 
      pre!= data.exp_100m
    p 200만
    each data, i in monlist
      pre!= data.exp_200m
    p 250만
    each data, i in monlist
      pre!= data.exp_250m
    p 300만
    each data, i in monlist
      pre!= data.exp_300m
    p 400만
    each data, i in monlist
      pre!= data.exp_400m

